@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --main-color: hsl(195, 6%, 12%);
  --secondary-color: hsl(203, 25%, 90%);
  --heading-color: hsl(0, 0%, 36%);
  --paragraph-color-light: hsl(180, 3%, 85%);
  --paragraph-color-dark: hsl(180, 3%, 20%);
  --main-font: "Inter", sans-serif;
  --secondary-font: "Rubik", sans-serif;
  --big-font-size: 4rem;
  --medium-font-size: 2.4rem;
  --small-font-size: 1.4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: var(--secondary-font);
  min-height: 100vh;
  background-color: var(--secondary-color);
}
/* ======== NAVBAR ======== */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  background: var(--main-color);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  z-index: 999;
}
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  max-width: 1600px;
}
.navbar-logo {
  font-size: 2rem;
  font-weight: 600;
  color: var(--paragraph-color-light);
  text-decoration: none;
  cursor: pointer;
}
.navbar-container .navbar-menu {
  display: flex;
  text-align: center;
  gap: 1.25rem;
}
.navbar-container .navbar-menu li a {
  color: var(--paragraph-color-light);
  font-size: 1.3rem;
  font-weight: 500px;
  padding: 3px 20px;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: all 0.2s ease;
  white-space: nowrap;
}
.navbar-container .navbar-menu li a:hover,
.navbar-container .navbar-menu li a.active {
  color: var(--paragraph-color-dark);
  background: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}
.navbar-toggle {
  display: none;
  background: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.bar {
  display: block;
  background: var(--secondary-color);
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}
/* ========= HOME ======== */
.home {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.home-content {
  width: 80%;
  justify-self: end;
  margin: 2rem 0;
}
.home-content span {
  color: hsl(208, 84%, 57%);
  font-weight: 500;
  letter-spacing: 0.075rem;
}
.home-content h1 {
  font-family: var(--main-font);
  font-size: var(--big-font-size);
  margin-top: 2rem;
  font-weight: 600;
}
.home-content h2 {
  width: fit-content;
  font-weight: 400;
  font-size: var(--medium-font-size);
  border-bottom: solid 3px;
  margin: 1.5rem 0;
  line-height: 1.2;
}
.home-content p {
  font-family: var(--main-font);
  font-size: var(--small-font-size);
  margin: 2rem 0;
  font-weight: 200;
  line-height: 1.5;
}

.home-btn-dark {
  background-color: var(--main-color);
  padding: 1rem 1.5rem;
  color: var(--paragraph-color-light);
  border: 2px solid var(--paragraph-color-light);
  border-radius: 25px;
  margin-left: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.home-btn-dark:hover {
  background-color: var(--secondary-color);
  color: var(--paragraph-color-dark);
  transition: 0.3s ease-in-out;
}
.home-btn-light {
  background-color: var(--secondary-color);
  padding: 1rem 1.5rem;
  color: var(--paragraph-color-dark);
  border: 2px solid var(--paragraph-color-dark);
  border-radius: 25px;
  margin-left: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.home-btn-light:hover {
  background-color: var(--main-color);
  color: var(--paragraph-color-light);
  border: 2px solid var(--paragraph-color-light);
  transition: 0.3s ease-in-out;
}
.home img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 2rem 0;
  object-fit: cover;
  object-position: bottom;
  justify-self: center;
}
.home-btn-dark,
.home-btn-light {
  display: flex;
  flex-direction: row;
  margin: 1rem 1.5rem;
  padding: 0.5rem auto;
}

.home-btn-dark i,
.home-btn-light i {
  display: inline-block;
  transition: transform 0.3s ease;
}

.home-btn-dark:hover i,
.home-btn-light:hover i {
  transform: translateX(4px);
}

/* ========== BREAKPOINTS ========== */
/* ====== TABLET ======= */
@media (max-width: 880px) {
  .navbar {
    backdrop-filter: none;
  }
  .navbar-container .navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem !important;
    position: absolute;
    height: 100vh;
    width: 250px;
    top: 0;
    right: 0;
    padding: 5rem 1.5rem;
    box-shadow:
      0,
      0,
      10px rgba(0, 0, 0, 0.75);
    background: var(--main-color);
    transform: translateX(100%);
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    z-index: 998;
    font-size: var(--medium-font-size);
  }
  .navbar-toggle {
    display: block;
    z-index: 1000;
  }
  .navbar-menu.active {
    display: flex;
    transform: translateX(0);
  }
  .navbar-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navbar-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .navbar-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .home-btn-dark,
  .home-btn-light {
    display: flex;
    flex-direction: row;
    margin: 1rem 1.5rem;
    padding: 0.5rem 1.25rem;
  }
}
@media (max-width: 768px) {
  .home {
    width: 100%;
    max-width: 580px;
    display: grid;
    margin: 2rem auto;
    grid-template-columns: 1fr;
  }
  .home-content {
    justify-self: center;
    align-items: center;
  }
  .home-content span {
    font-size: 1.2rem;
  }
  .home-content h1 {
    font-size: 3.5rem;
  }
  .home-content h2 {
    font-size: 2.25rem;
  }
  .home-content p {
    font-size: 1.2rem;
  }

  .home img {
    width: 220px;
    height: 220px;
    order: -1;
  }
  .home-btn-dark,
  .home-btn-light {
    display: flex;
    flex-direction: row;
    margin: 1rem 1.5rem;
    padding: 0.5rem auto;
  }
}
@media (max-width: 480px) {
  .navbar-container {
    padding: 0 1rem;
  }
  .navbar-logo {
    font-size: 1.25rem;
  }
  .navbar-container .navbar-menu li a {
    font-size: 0.925rem;
    padding: 3px 15px;
  }
  .home {
    width: 100%;
    max-width: 350px;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
  .home-content {
    justify-self: center;
  }
  .home img {
    width: 180px;
    height: 180px;
    order: -1;
  }
  .home-content h1 {
    font-size: 2.5rem;
  }
  .home-content h2 {
    font-size: 1.4rem;
  }
  .home-content p {
    font-size: 1.1rem;
  }
  .home-content span {
    font-weight: 500;
    letter-spacing: 0.001rem;
  }
}
